<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (userProfile(); as userProfileRef) {
      <div>
        <h2 data-cy="userProfileDetailsHeading"><span>User Profile</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ userProfileRef.id }}</span>
          </dd>
          <dt><span>Uob Username</span></dt>
          <dd>
            <span>{{ userProfileRef.uobUsername }}</span>
          </dd>
          <dt><span>Nick Name</span></dt>
          <dd>
            <span>{{ userProfileRef.nickName }}</span>
          </dd>
          <dt><span>Profile Pic</span></dt>
          <dd>
            @if (userProfileRef.profilePic) {
              <div>
                <a (click)="openFile(userProfileRef.profilePic ?? '', userProfileRef.profilePicContentType)">
                  <img
                    [src]="'data:' + userProfileRef.profilePicContentType + ';base64,' + userProfileRef.profilePic"
                    style="max-width: 100%"
                    alt="userProfile"
                  />
                </a>
                {{ userProfileRef.profilePicContentType }}, {{ byteSize(userProfileRef.profilePic ?? '') }}
              </div>
            }
          </dd>
          <dt><span>User</span></dt>
          <dd>
            <span>{{ userProfileRef.user?.id }}</span>
          </dd>
          <dt><span>Team</span></dt>
          <dd>
            @for (team of userProfileRef.teams; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/team-profile', team.id, 'view']">{{ team?.teamID }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/user-profile', userProfileRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
