<div>
  <h2 id="page-heading" data-cy="ScreenshotHeading">
    <span>Screenshots</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-screenshot"
        [routerLink]="['/screenshot/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Create a new Screenshot</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (screenshots?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Screenshots found</span>
    </div>
  }

  @if (screenshots && screenshots.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="pic">
              <div class="d-flex">
                <span>Pic</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="caption">
              <div class="d-flex">
                <span>Caption</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="milestone">
              <div class="d-flex">
                <span>Milestone</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="teamProfile.id">
              <div class="d-flex">
                <span>Team Profile</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (screenshot of screenshots; track trackId(screenshot)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/screenshot', screenshot.id, 'view']">{{ screenshot.id }}</a>
              </td>
              <td>
                @if (screenshot.pic) {
                  <a (click)="openFile(screenshot.pic, screenshot.picContentType)">
                    <img
                      [src]="'data:' + screenshot.picContentType + ';base64,' + screenshot.pic"
                      style="max-height: 30px"
                      alt="screenshot"
                    />
                  </a>
                  <span>{{ screenshot.picContentType }}, {{ byteSize(screenshot.pic) }}</span>
                }
              </td>
              <td>{{ screenshot.caption }}</td>
              <td>{{ { null: '', M1: 'milestoneOne', M2: 'milestoneTwo', M3: 'milestoneThree' }[screenshot.milestone ?? 'null'] }}</td>
              <td>
                @for (teamProfile of screenshot.teamProfiles; track $index; let last = $last) {
                  <span>
                    <a class="form-control-static" [routerLink]="['/team-profile', teamProfile.id, 'view']">{{ teamProfile.id }}</a
                    >{{ last ? '' : ', ' }}
                  </span>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/screenshot', screenshot.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">View</span>
                  </a>

                  <a [routerLink]="['/screenshot', screenshot.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(screenshot)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
