<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-user-profile-heading" data-cy="UserProfileCreateUpdateHeading">Create or edit a User Profile</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_uobUsername">Uob Username</label>
          <input
            type="text"
            class="form-control"
            name="uobUsername"
            id="field_uobUsername"
            data-cy="uobUsername"
            formControlName="uobUsername"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_nickName">Nick Name</label>
          <input type="text" class="form-control" name="nickName" id="field_nickName" data-cy="nickName" formControlName="nickName" />
        </div>

        @let profilePicRef = editForm.get('profilePic')!;
        <div class="mb-3">
          <label class="form-label" for="field_profilePic">Profile Pic</label>
          <div>
            @if (profilePicRef.value) {
              <img
                [src]="'data:' + editForm.get('profilePicContentType')!.value + ';base64,' + profilePicRef.value"
                style="max-height: 100px"
                alt="userProfile"
              />
            }
            @if (profilePicRef.value) {
              <div class="form-text text-danger clearfix">
                <span class="pull-start">{{ editForm.get('profilePicContentType')!.value }}, {{ byteSize(profilePicRef.value!) }}</span>
                <button
                  type="button"
                  (click)="clearInputImage('profilePic', 'profilePicContentType', 'file_profilePic')"
                  class="btn btn-secondary btn-xs pull-end"
                >
                  <fa-icon icon="times"></fa-icon>
                </button>
              </div>
            }
            <input
              type="file"
              id="file_profilePic"
              data-cy="profilePic"
              (change)="setFileData($event, 'profilePic', true)"
              accept="image/*"
            />
          </div>
          <input
            type="hidden"
            class="form-control"
            name="profilePic"
            id="field_profilePic"
            data-cy="profilePic"
            formControlName="profilePic"
          />
          <input
            type="hidden"
            class="form-control"
            name="profilePicContentType"
            id="field_profilePicContentType"
            formControlName="profilePicContentType"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user" [compareWith]="compareUser">
            <option [ngValue]="null"></option>
            @for (userOption of usersSharedCollection; track $index) {
              <option [ngValue]="userOption">{{ userOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label for="field_teams">Team</label>
          <select
            class="form-control"
            id="field_teams"
            data-cy="team"
            multiple
            name="teams"
            formControlName="teams"
            [compareWith]="compareTeamProfile"
          >
            @for (teamProfileOption of teamProfilesSharedCollection; track $index) {
              <option [ngValue]="teamProfileOption">{{ teamProfileOption.teamID }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
